/* what are the background and overall features like */
body {
    background-color: lightblue;
}

/* the "next timetable" button */
#forward {
    display: none;
}

/* the "previous timetable" button */
#backward {
    display: none;
}

/* all tables configured */
table {
    /* they are hidden by default and shown using JS */
    display: none;
}

/* all tables configured */
td,
th {
    /* make text centered */
    text-align: center;
    /* Add padding around content */
    padding: 5px;
    /* Prevent text from wrapping */
    white-space: nowrap;
}